# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
*.sublime-project

# sftp configuration file
sftp-config.json
xcode/
node_modules/
*.html
dist

static/css/style.min.css
npm-debug.log