@startup-basePath: "../../startup/";

@import '../../startup/flat-ui/less/variables.less';
@import '../../startup/flat-ui/less/mixins.less';
@import '../../startup/common-files/less/mixins.less';
@import '../../startup/common-files/less/common.less';
@import '../../startup/common-files/less/helper.less';
@import '../../startup/common-files/less/navbar.less';


@import '../../less-files/section3.less';
@import '../../less-files/header-23.less';
@import '../../less-files/content-8.less';
@import '../../less-files/counter-1.less';
@import '../../less-files/content-31.less';
@import '../../less-files/content-22.less';
@import '../../less-files/project-common.less';
@import '../../less-files/project-4.less';
@import '../../less-files/content-36.less';
@import '../../less-files/crew-4.less';
@import '../../less-files/contact-4.less';
@import '../../less-files/footer-1.less';

@import 'variables.less';
@import 'margins.less';
@import 'share.less';
@import 'back-to-top.less';

@import 'rollover-submit.less';

@import url(http://fonts.googleapis.com/css?family=Montserrat:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300:700);

.hiddenSection {
     opacity:0;
}

.visibleSection {
     opacity:1;
}

.border-radius(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.btn-base() {
  border-width: 1px;
  border-style: solid;
  font-family: @Montserrat;
  font-size: @h2-font-size;
  font-weight: bold;
  .border-radius(6px);
  .no-margin;
}

.h1 {
  font-family: @Helvetica-Ultralight;
  font-size: @h1-font-size;
  .no-margin;
  @media(max-width: @screen-sm-min) {
    font-size: 30pt;
  }

}
.h1-heavy {
  font-family: @Helvetica-Heavy;
  font-size: @h1-font-size;
  .no-margin;
  @media(max-width: @screen-sm-min) {
    font-size: 30pt;
  }

}

.h2 {
  font-family: @Montserrat;
  font-weight: 400;
  font-size: @h2-font-size;
  .no-margin;
  @media(max-width: @screen-sm-min) {
    font-size: 8pt;
  }
}

.h3 {
    .h2;
    font-weight: bold;
}

h1:extend(.h1) {
  strong {
    .h1-heavy;
    .lead-color;
  }
}

h2:extend(.h2) {}

h3:extend(.h3) {}

.p {
  color: @text-font-color;
  font-family: @Montserrat;
  font-size: @text-font-size;
  font-weight: 300;
  line-height: 30px;
  color: #52606c;
  .no-margin();
}

p:extends(.p) {
  .no-margin();
}
    
.circle-full(@size) {
    background-color: rgba(247,247,247,1);
    border-width: 0px;
    height: @size;
    width: @size;
    .centering;
    .border-radius(@size);
}

.circle-full-big {
    .circle-full(@big-image-size);
}

.circle-full-medium {
    .circle-full(@medium-image-size);
}

.circle-full-small {
    .circle-full(@small-image-size);
}

.page-wrapper > section {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(229, 229, 229, 1);
}

.picto {
  .img {
    img {
      width: @medium-image-size;
      height: @medium-image-size;
    }
    .centering;
  }
}


#header-bottom {
  text-align: center;
  background: transparent;
  height: 40px;
  bottom: 0px;
  display: inline-block;
  z-index: 1000;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  img {
    position: relative;
    top: -60px;
    width: 45px;
    left: -20px;
    border: 0;
  }
}