@big-padding: 150px;
@medium-padding: 50px;
@small-padding: 20px;

@h1-font-size: 60px;
@h2-font-size: 16px;

@text-font-size: 16px;
@text-font-color: rgba(119,119,119,1);

.dark-bg-font-color() {
  color: #fff;
}

@lead-color: #8b5789;

.lead-color() {
  color: @lead-color;
}

@Helvetica-Heavy: "Helvetica Heavy";
@Helvetica-Ultralight: "Helvetica Ultralight";
@Montserrat: "Montserrat";

@font-face {
  font-family: @Helvetica-Ultralight;
  src: url("../font/HELVETICA_ULTRALIGHT.OTF");
}

@font-face {
  font-family: @Helvetica-Heavy;
  src: url("../font/HELVETICA_HEAVY.OTF");
}
