@img: '../../img';

@big-padding: 150px;
@medium-padding: 50px;
@small-padding: 20px;

@h1-font-size: 36px;
@h2-font-size: 16px;

@text-font-size: 16px;
@text-font-color: rgba(165, 165, 165, 1);

@lead-color: rgba(139,87,137, 1);

@big-image-size: 250px;
@medium-image-size: 200px;
@small-image-size: 130px;

.lead-color() {
  color: @lead-color;
}

@Helvetica-Heavy: "Helvetica Heavy";
@Helvetica-Ultralight: "Helvetica Ultralight";
//@Montserrat: "Montserrat";
@Montserrat: "Open Sans";

@font-face {
  font-family: @Helvetica-Ultralight;
  src: url("../font/HELVETICA_ULTRALIGHT.OTF");
}

@font-face {
  font-family: @Helvetica-Heavy;
  src: url("../font/HELVETICA_HEAVY.OTF");
}

@photo-width: 225px;
@photo-height: 225px;