@img: '../../img';

@big-padding: 150px;
@medium-padding: 50px;
@small-padding: 35px;

@header-font-type: @Helvetica-Ultralight;
@header-strong-font-type: @Helvetica-Heavy;

@h1-font-size: 56px;
@h2-font-size: 46px;
@h3-font-size: 30px;

@text-font-type: @OpenSans;
@text-font-size: 18px;
@text-font-color: rgba(82, 96, 108, 1);

@lead-color: rgba(139,87,137, 1);

@big-image-size: 250px;
@medium-image-size: 200px;
@small-image-size: 200px;

@Helvetica-Heavy: 'Helvetica Heavy', Helvetica, sans-serif;
@Helvetica-Ultralight: 'Helvetica Ultralight', Helvetica, sans-serif;
@Montserrat: 'Montserrat', sans-serif;
@OpenSans: 'Open Sans', sans-serif;

@photo-width: 225px;
@photo-height: 225px;