.content-31 {
    position:relative;
    .container {
        h3 {
            color: @lead-color;
        }
        p {
            .p;
        }
        .img {
            display: inline-block;
            position: relative;
            @media(max-width:480px){
              display: block;
            }
            img {
                .transition(.6s opacity);
            }
        }
    }
}
