/**
 * Content 8 stylesheet  
 * */
 .content-8 {
    position:relative;
    text-align: center;
    .picto {
        .img {
            img {
                height: @big-image-size;
                width: @big-image-size;
            }                    
        }
    }
    .btn.btn-signup {
        width: 300px;
        .box-sizing(border-box);
        border: 1px solid @brand-danger;
        .font(12px);
        font-family: @font-family-demo;
        padding: 20px 80px;
        color: @lead-color;
        background: transparent;
        border-color: @lead-color;
        &:hover, &:focus {
            color: #fff;
            background: @lead-color;
            border-color: @lead-color;
        }
        &:active, &.active {
            color: #fff;
            background: @lead-color;
            border-color: @lead-color;
            
        }
        .btn-base;
    }
    .v-center;
}
