.content-31 {
    position: relative;
    text-align: left;   

    .container {
.title {text-align: center;}
        .picto {
            .img {
                img {
                    width: @big-image-size;
                    height: @big-image-size;
                }
            }
        }
        @media(max-width: @screen-sm-min) {
            h3, p {
                text-align: center;
            }
        }
        & > .row.mid-margin {
                margin-bottom: 50px !important;
        }
        .step-content {
            .low-margin {
                margin-top: 20px;
            }
        }
    }
}
