.content-36 {
    background-image: url('../../img/bg_working_hard.jpg');
    background-attachment: fixed;
    text-align: center;
    color: #95a5a6;
    padding-top: 230px;
    padding-bottom: 180px;
    h1 {
        color: #fff;
        strong {
            color: #fff;
        }
    }    
    p {
        .p;
    }
    
    .circle-transparent {
        background-color: transparent;
        border-width: 1px;
        border-color: #fff;
        border-style: solid;
        height: 70px;
        width: 70px;
        .border-radius(75px);
    }

    .facebook-share {
        background-image: url('../../img/share_facebook.png');
    }
    .twitter-share {
        background-image: url('../../img/share_twitter.png');
    }
    .linkedin-share {
        background-image: url('../../img/share_linkedin.png');
    }
    .googleplus-share {
        background-image: url('../../img/share_google.png');
    }
    .pinterest-share {
        background-image: url('../../img/share_pinterest.png');
    }
}
