.content7 {
    position:relative;
    text-align: center;     
    padding: 25px !important;
    
    .input-group-btn .btn {
        background: none repeat scroll 0% 0% #924d8f !important;   
    }

    .form-control {
        border: 2px solid #924d8f !important;
    }

    h1 {
	    color: #000 !important;
	}
}