.content-8 {
    position:relative;
    text-align: center;

    .picto {
        .img {
            img {
                width: 700px;
                height: 300px;
            }
        }
    }
    
    .v-center;
}
