.counter-1 {
    background-image: url('@{img}/counter_bg.jpg');
    background-attachment: fixed;
    text-align: center;

    .numbers {
        font-family: @Helvetica-Heavy;
        font-size: 45px;
        color: #fff;
    }
    
    .btn.btn-signup {
        width: 300px;
        .box-sizing(border-box);
        border: 1px solid @brand-danger;
        .font(12px);
        font-family: @font-family-demo;
        padding: 20px 80px;
        color: #fff;
        background: transparent;
        border-color: #fff;
        &:hover, &:focus {
            color: #fff;
            background: @lead-color;
            border-color: @lead-color;
        }
        &:active, &.active {
            color: #fff;
            background: @lead-color;
            border-color: @lead-color;
            
        }
        .btn-base;
    }
    .v-center;
        
}
