.footer-1 {
    padding: 15px 0 !important;
    .no-margin;
    background-color: rgba(65, 38, 64, 1);
    border: 0 !important;
    
    p {
        .p;
        color: @lead-color;
    }
    
    .pull-right {
        .clearfix();
    }
}