/**
 * Header 23 stylesheet  
 * */
 .header-23 {
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    > .container {
        position: relative;
    }
}
.header-23-sub {
    .section-padding;
    z-index: 50;
    left: 0;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    background: #1b1e21;
    h1 {
      .h1;
      color: #fff;
      strong {
        color: #fff;
      }
    }
    h2 {
      .dark-bg-font-color;
      margin-bottom: 50px;
    }
    .background {
        background-image: url('@{startup-basePath}common-files/img/header/img-video.jpg');
    }
    .background {
        .opacity(70);
    }
    .img {
        max-width: 350px;
        margin: auto auto;
        margin-top: 0px;
        margin-bottom: 50px;

        img {
            width: 100%;
        }
    }    
    .btn.btn-signup {
        width: 300px;
        .box-sizing(border-box);
        border: 2px solid @brand-danger;
        .font(12px);
        font-family: @font-family-demo;
        padding: 20px 80px;
        color: #fff;
        background: @lead-color;
        border-color: @lead-color;
        &:hover, &:focus {
            border-color: @lead-color;
            background: @lead-color;
            color: rgba(255, 255, 255, 0.75);
        }
        &:active, &.active {
            border-color: @lead-color;
            background: @lead-color;
            color: rgba(255, 255, 255, 0.75);
        }
        .btn-base;
    }
    
    .btn.btn-share {
        .box-sizing(border-box);
        border: 2px solid @brand-danger;
        .font(12px);
        font-family: @font-family-demo;
        padding: 20px 80px;
        width: 300px;
        color: #fff;
        background: transparent;
        border-color: #fff;
        &:hover, &:focus {
            background: transparent;
            border-color: #fff;
            color: rgba(255, 255, 255, 0.75);
        }
        &:active, &.active {
            background: transparent;
            border-color: #fff;
            color: rgba(255, 255, 255, 0.75);
        }
        .btn-base;
    }
}
.mask {
  z-index: 1000;
  background-color: #000;
  .opacity(90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}


