/**
 * Header 23 stylesheet  
 * */
 .header-23 {
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    > .container {
        position: relative;
    }
}

.header-23-sub {
    border-width: 0px !important;
    z-index: 50;
    left: 0;
    width: 100%;
    position: relative;
    color: #fff;
    text-align: center;
    background: #1b1e21;
    h1 {
      .h1;
      color: #fff;
      strong {
        color: #fff;
      }
    }
    h2 {
      color: #fff;
      margin-bottom: 50px;
    }
    .background {
        background-image: url('@{startup-basePath}common-files/img/header/img-video.jpg');
    }
    .background {
        .opacity(70);
    }
    .img {
        max-width: 350px;
        margin: auto auto;
        margin-top: 0px;
        img {
            width: 100%;
        }
    }    


    .submit {
            
      input {
          border-width: 0px;
          background: rgba(255,255,255,0.2);
          padding: 15px;
          font-family: @Montserrat;
          font-size: 12px;
          color: #fff;
          width: 70%;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
           border-top-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
          .no-margin;
      }
      
      .btn-submit {
          -moz-border-radius-topleft: 0px;
          -webkit-border-top-left-radius: 0px;
           border-top-left-radius: 0px;
          -moz-border-radius-bottomleft: 0px;
          -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
           border-top-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-width: 0px;
          font-family: @Montserrat;
          font-size: 12px;
          background: #fff;
          color: #000;
          margin: -1px 0px 0px -4px;
          padding: 12px 25px 11px 25px;
      }

    }

}

.mask {
  z-index: 1000;
  background-color: #000;
  .opacity(90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}
