.section-padding {
  padding-bottom: @big-padding;
  padding-top: @big-padding;
  @media(max-width: @screen-sm-min) {
    padding-bottom: 75px;
    padding-top: 75px;
  }
}

.centering {
    margin: 0 auto;   
}

.page-wrapper > section {
  .section-padding;
}

.mid-margin {
  margin-bottom: 50px;
  margin-top: 0;
}

.low-margin {
  margin-bottom: 20px;
  margin-top: 0;
}

.no-margin {
  margin-bottom: 0;
  margin-top: 0;
}