.section3 {
    background: #ffffff;
    position:relative;
    text-align: center;
    .lead {
        .font(22px);
        font-family: @font-family-demo;
        font-weight:300;
        margin-bottom: 0;
    }
    h3 {
        .h2;
        color: @lead-color;
    }
    .features {
        .circle-full-medium, .circle-full-small {
            .centering;
        }
    }
}
