.section3 {
    background: #ffffff;
    position:relative;
    text-align: center;
    p {
        .p;
    }
    h3 {
        color: @lead-color;
    }
    .features {
        .circle-full-medium, .circle-full-small {
            .centering;
        }
    }
}
