.section3 {
    background: #ffffff;
    position:relative;
    text-align: center;

    .picto {
        .img {
            img {
                height: @small-image-size;
                width: @small-image-size;
            }                    
        }
    }

    .features {
        .circle-full-medium, .circle-full-small {
            .centering;
        }
    }
}
