
.header-with-video { 
    z-index: 50;
    left: 0;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    background: #1b1e21;
    .background {
        background-image: url('@{startup-basePath}common-files/img/header/img-video.jpg');
    }
    @media (max-width: 991px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
   .section-padding;
   .hero-unit {
    .share-us-btn {
      background-color: transparent;
      background-repeat: no-repeat;
      border-color: #fff;
      .btn-base;
    }
    .sign-up-btn {
      background: #8b5789;
      border-color: #8b5789;
      .btn-base;
    }
    h1 {
      .h1;
      .no-margin;
      .dark-bg-font-color;
      span {
        .dark-bg-font-color;
        .h1-heavy;
        .no-margin;
      }

    }
    h2 {
      .dark-bg-font-color;
      .no-margin;
    }
  }
  .hero-unit {
        .share-us-btn {
      background-color: transparent;
      background-repeat: no-repeat;
      border-color: #fff;
      .btn-base;
    }
            
        margin: 0;
        padding: 0;
        background: transparent;
        font-size: 30px;
        letter-spacing: -1px;
        strong {
            font-size: 42px;
            font-weight: 300;
            letter-spacing: 1px;
            width: 100%;
        }
        span {
            font-weight: 200;
            font-size: 20px;
            letter-spacing: 0px;
            @media (max-width: 991px) {
                display: block;
            }
        }
        .btn-play {
            display: inline-block;
            text-indent: -9999px;
            vertical-align: middle;
            overflow: hidden;
            width: 67px;
            height: 67px;
            margin: 0 50px;
            background: url("@{startup-basePath}common-files/img/header/btn-play.png") no-repeat;
            @media (max-width: 991px) {
                margin: 35px 0;
            }
        }
    }
    .background {
        .opacity(90);
    }
    .img {
        max-width: 350px;
        margin: auto auto;
        margin-top: 0px;

        img {
            width: 100%;
        }
    }    
    .btn.btn-clear {

        margin: auto auto;
        margin-top: 150px;
        
        .box-sizing(border-box);
        border: 2px solid @brand-danger;
        .font(14px);
        font-weight: 300;
        font-family: @font-family-demo;
        padding: 15px 46px;
        color: #fff;
        background: #41C944;
        border-color: #41C944;
        letter-spacing: 1px;
        &:hover, &:focus {
                    letter-spacing: 1px;
            border-color: #41C944;

            background: #41C944;
            color: rgba(255, 255, 255, 0.75);
        }
        &:active, &.active {
                    letter-spacing: 1px;
            border-color: #41C944;

            background: #41C944;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}
.mask {
  z-index: 1000;
  background-color: #000;
  .opacity(90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.popup-video {
  z-index: 1000;
  margin: 0 10%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  &.shown {
    position: fixed;
    width: 80%;
    height: 100%;
    overflow: visible;
    display: none;
  }
  > * {
    width: 100%;
    height: 100%;
  }
}

